// temporary

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Open+Sans:300,400,600,700,800');
// font-family: 'Fira Mono', monospace;
// font-family: 'Open Sans', sans-serif;

body {
  margin: 0px;
}

.section-home {
  // width: 100%;
  padding: 0% 10%;
  height: 100vh;
  position: relative;

  &:before {
    content: '';
    top: 0;
    left: 0;  
    z-index: -1; 
    width: 100%;
    height: 100%; 
    position: absolute;
    background-size: cover;
    background-image: url('https://source.unsplash.com/1600x900/?song,music,band,show');
    filter: grayscale(100%) brightness(45%) sepia(100%) hue-rotate(140deg) saturate(1000%) contrast(0.9);
  }

  .wrapper-banner {
    position: absolute;
    bottom: 151px;
    left: 11%;
    .banner {
      &-header {
        font-size: 66px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        background: black;
        font-weight: 800;
        width: 150px;
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
        text-transform: uppercase;
      }
      &-footer {
        width: 550px;
        background: white;
        padding: 10px;
        text-align: left;
        font-size: 13px;
        font-family: 'Fira Mono', monospace;
        text-transform: uppercase;
        position: relative;
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          border: 1px solid white;
          position: absolute;
          top: -10px;
          left: -10px;
          z-index: -1;
        }
      }
    }
  }
}