

.search-results {
  width: 800px;
  margin-top: 30px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 1px;
  }

  &__results-item {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    margin: 10px;

    &__control {
      &:nth-child(1n) { 
        width: 15%; 
      }

      &:nth-child(2n),
      &:nth-child(3n){ 
        width: 60%; 
        text-align: left;
        padding-left: 15px; 
      }
      &:nth-child(4n) {
        width: 10%; 
      }

      &:nth-child(5n) { 
        width: 15%; 
      }
    }

    &:last-child { 
      margin-bottom: 0px; 
    }
    
    &:first-child { 
      margin-top: 0px; 
    }
    
  }
}