.search-results {
  width: 60%;
  max-width: 700px;
  
  .search-result {
    height: 110px;
    border: 1px solid;
    display: flex;
    
    .search-result-image {
      background-position: center;
      background-size: cover;
      width: 120px;
    }

    .search-result-body {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      padding-left: 30px;

      h3, h4 {
        margin: 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
      }
      
      h3 {
        font-size: 29px;
      }
    }
  }
}